<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отклики</title>
</head>
<body>
{% load custom_tags %}

<h1>Отклики на мои объявления</h1>
<button><a href="{% url 'list_announcements' %}">На главную страницу</a></button>
<hr>
<h3>Поиск по фильтрам</h3>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти"/>
</form>
<hr>
{% for response in list_responses %}
{% if response.announcement.user.id == user.id %}
Категория: {{ response.announcement.category }} <br>
Заголовок объявления: {{ response.announcement.title }} <br>
Откликнувшийся пользователь: {{ response.user.username }} <br>
Сообщение от пользователя: {{ response.text }} <br>
Дата: {{ response.datetime|date:'d.m.Y' }} {{ response.datetime|time:'H:i' }}<br>
<button><a href="{% url 'delete_response' response.pk %}">Удалить</a></button>
{% if not response.is_accepted %}
<button><a href="{% url 'accept_response' response.pk %}">Принять</a></button>
{% endif %}
<hr>
{% endif %}
{% empty %}
<h3>Ничего не найдено</h3>
{% endfor %}

<div>
    <h3>
        {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через тег url_replace #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
        {% endif %}
        {{ page_obj.number }}
        {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
        {% endif %}
    </h3>
</div>

</body>
</html>